.mainContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    gap: 20px;
    padding: 0 24px;

    min-height: calc(100vh - 100px);
    box-sizing: border-box;
}

.board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
    max-width: 1200px;
    overflow-x: auto;
}