.mainContainer {
    display: flex;
    justify-content: safe center;
    align-items: flex-start;
    flex: 1;
    padding: 0 24px;
    box-sizing: border-box;
    overflow-x: auto;
}

.board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
    max-width: 1200px;
    min-width: fit-content;
    box-sizing: border-box;
    margin: 0 auto;
}