button {
    width: fit-content;
    /*height: fit-content;*/
    padding: var(--fields-padding);

    background-color: var(--bg-secondary);
    border-radius: var(--border-radius);
    border: var(--border-width) solid transparent;
    box-sizing: border-box;

    color: var(--text);
    font-family: var(--sans);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight);

    transition: var(--transition);
}

button.dashed {
    border-color: var(--border-color);
    border-style: dashed;
}

button:hover:not(:disabled) {
    cursor: pointer;
    border-color: var(--text);
    transition: var(--transition);
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

button:focus-visible {
    outline-color: var(--text);
}

button.pulse {
    animation: pulseBorder 1s ease-in-out infinite alternate;
}