input {
    padding: var(--fields-padding);

    background-color: var(--bg-secondary);
    border-radius: var(--border-radius);
    border: none;
    box-sizing: border-box;

    color: var(--text);
    font-family: var(--sans);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight);

    transition: var(--transition);
}

input:hover {
    opacity: 0.8;
    transition: var(--transition);
}

input:focus-visible {
    outline-color: var(--text);
}

input[aria-invalid="true"] {
    outline: var(--border-width) auto var(--error);
}

input[aria-invalid="true"]:focus-visible {
    outline-color: var(--error);
}