textarea {
    padding: 8px 16px;

    background-color: var(--bg-secondary);
    border-radius: var(--border-radius);
    border: none;
    box-sizing: border-box;

    color: var(--text);
    font-family: var(--sans);
    font-size: var(--font-size);
    font-weight: var(--font-weight);

    min-height: 37px;
    max-height: 200px;
    overflow-y: auto;
    resize: vertical;

    transition: all .2s ease-in-out;
}

textarea:hover {
    opacity: 0.8;
    transition: all .2s ease-in-out;
}

textarea:focus-visible {
    outline-color: var(--text);
}

textarea[aria-invalid="true"] {
    outline: 2px auto var(--error);
}

textarea[aria-invalid="true"]:focus-visible {
    outline-color: var(--error);
}
