.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 300px;
    max-width: 380px;
    gap: var(--base-gap);
    padding: var(--component-padding);
    background-color: var(--bg-secondary);
    border-radius: 24px;
    border: var(--border-width) solid transparent;
    box-sizing: border-box;
    transition: var(--transition);
}

.column.dragOver {
    border-color: var(--text);
    background-color: var(--bg-secondary);
    transition: var(--transition);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title {
    font-size: var(--font-size-l);
    font-weight: var(--font-weight);
    color: var(--text);
}

.count {
    color: var(--text);
    background-color: var(--bg);
    padding: var(--fields-padding);
    border-radius: var(--border-radius);

    line-height: 20px;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight);
}

.tasksList {
    display: flex;
    flex-direction: column;
    gap: var(--base-gap);
}
