.task {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;

    padding: var(--component-padding);
    gap: var(--base-gap);
    background: var(--bg);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    border: var(--border-width) solid transparent;
    cursor: grab;
    user-select: none;
}

.task:active {
    cursor: grabbing;
}

.editing {
    border: var(--border-width) dashed var(--border-color);
    cursor: default;
    user-select: auto;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    min-width: 0;
}

.label {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight);
    color: var(--text);
    opacity: 0.8;
}

.field {
    width: 100%;
    min-height: 20px;
    padding: var(--fields-padding);
    background-color: var(--bg-secondary);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    color: var(--text);
    transition: var(--transition);
}

.titleField {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.descField {
    max-height: 200px;
    overflow-y: auto;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
}

.actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 8px;
}